@-ms-viewport {
  width: device-width;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  min-width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-image: linear-gradient(#b19cd9, rgba(198, 226, 255, 0));
  text-align: center;

  font-family: 'Questrial', Arial, sans-serif;
}

.intro {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#b19cd9, rgba(198, 226, 255, 0));
}

.intro h1 {
  padding-top: 20%;
  font-family: Ardina, sans-serif;
  font-size: 60px;
}
.intro h2 {
  font-size: 30px;
}
.intro .main-header {
  text-align: center;
  z-index: 100;
}
.intro #logo {
  display: inline-block;
  height: 350px;
  width: 350px;
}
.intro .circle {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 50%;
  border: 1px solid #fff;
  text-align: center;
  color: white;
  line-height: 100px;
  font-size: 20px;
  transition: all 0.3s ease;
  margin-bottom: 150px;
}
.intro.circle:hover {
  background-color: #eee;
  background-color: #fff;
  color: #ffb6c2;
}

p {
  font-size: 17px;
  line-height: 25px;
  font-family: 'Questrial', Arial, sans-serif;
}

@media (min-width: 1824px) {
  p {
    font-size: 24px;
    line-height: 35px;
    font-family: 'Questrial', Arial, sans-serif;
  }
}

/* NAV */
/* new nav stuff */
.toggle-nav {
  display: none;
}

/*----- Menu -----*/
@media screen and (min-width: 860px) {
  .menu {
    width: 100%;
    padding: 20px 20px 10px;

    background: #9dbddf;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.menu ul {
  display: inline-block;
}

.menu li {
  margin: 0px 50px 0px 0px;
  float: left;
  list-style: none;
  font-size: 17px;
}

.menu li:last-child {
  margin-right: 0px;
}

.menu a {
  color: #36373a;
  transition: color linear 0.15s;
}

.menu a:hover,
.menu .current-item a {
  text-decoration: none;
  color: #ffb6c2;
}

/*----- Responsive -----*/
@media screen and (max-width: 1150px) {
  .wrap {
    width: 90%;
  }
}

@media screen and (max-width: 970px) {
  .search-form input {
    width: 120px;
  }
}

@media screen and (max-width: 860px) {
  .menu {
    text-align: left;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .menu ul.active {
    display: none;
  }

  .menu ul {
    width: 100%;
    position: absolute;
    top: 120%;
    left: 0px;
    padding: 10px 18px;
    background: #9dbddf;
  }

  .menu ul:after {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0%;
    left: 22px;
    content: '';
  }

  .menu li {
    margin: 5px 0px 5px 0px;
    float: none;
    display: block;
  }

  .menu a {
    display: block;
  }

  .toggle-nav {
    padding: 20px;
    display: inline-block;

    background: #9dbddf;
    color: #ffb6c2;
    font-size: 20px;
    transition: color linear 0.15s;
  }

  .toggle-nav:hover,
  .toggle-nav.active {
    text-decoration: none;
    color: #000;
    width: 200px;
  }
}
/* what a shit show */
.anchor {
  display: block;
  height: 63px; /* this is the height of your header */
  margin-top: -63px; /* this is again negative value of the height of your header */
  visibility: hidden;
}

/* end */
header {
  position: fixed;
  width: 100%;
  background-color: #9dbddf;
  opacity: 0.8;

  z-index: 200;
  flex-direction: row;
  justify-content: flex-start;
}

#main-nav ul {
  list-style: none;
  margin: 0;

  padding-left: 0.8em;
  text-align: left;
  font-size: 1.5em;
}

#main-nav li {
  display: inline-block;
  margin: 0.7em;
  font-size: 20px;
}

#main-nav a {
  text-decoration: none;
  color: #36373a;
}
.nav-title {
  font-size: 30px;
}

#main-nav a:hover,
#main-nav a:focus {
  color: #000000;
}

a {
  text-decoration: none;
  color: #579cdc;
}

a:hover {
  color: #ffb6c2;
  cursor: pointer;
}

.collapse {
  display: none;
}
.apply {
  border: black;
  border-width: thin;
  padding: 10px;
  font-weight: bold;
  border-style: solid;
}
.test {
  justify-content: right;
  text-align: right;
}

@media (min-width: 800px) {
  .collapse {
    display: inline-block;
  }
}
@media (min-width: 1824px) {
  nav ul {
    font-size: 1.6em;
  }
  .nav-title {
    font-size: 25px;
  }
}

table,
tr,
th {
  border: 3px solid #c6e2ff;
}

/* LANDING PAGE */

.landing {
  text-align: center;
  z-index: 10;
}
#landing {
  padding-bottom: 3em;
}

#logo_text {
  text-align: center;
  height: 130px;
  position: relative;
  top: 0;
  left: -20px;
}
#logo_subtext {
  text-align: center;
  height: 30px;
  position: relative;
  top: 0;
  left: 0;
}

#logo_background {
  text-align: center;
  height: 150px;
  position: absolute;
  top: 20px;
  left: -10px;
  opacity: 0.8;
}
.logo {
  position: relative;
  top: 0;
  left: 0;
}

#form_message {
  width: 300px;
}

#contact-form {
  text-align: center;
}
.contact-form {
  padding: 1em;
}

#athena-title img {
  max-width: 400px !important;
  max-height: 400px !important;
}
#athena-subtitle {
  padding-left: 40px;
  font-size: 2.5rem;
}

@media (min-height: 600px) {
  #landing {
    padding-top: 5em;
  }
}

@media (min-height: 700px) {
  #landing {
    padding-top: 8em;
  }
}

@media (min-height: 800px) {
  #landing {
    padding-top: 10em;
  }
}

@media (min-width: 550px) {
  #logo {
    margin-bottom: 1em;
    width: 40em;
  }

  #athena-title {
    font-size: 5.5rem;
  }
  #athena-subtitle {
    font-size: 3rem;
  }
  #about {
    font-size: 3em;
  }
}
@media (min-width: 1824px) {
}
@media (min-width: 1824px) {
  #logo {
    margin-bottom: 1em;
    width: 40em;
  }

  #athena-title {
    font-size: 6.5rem;
  }
  #athena-subtitle {
    font-size: 3.5rem;
  }

  #about {
    font-size: 4em;
  }
}
@media (min-width: 2224px) {
  #logo {
    margin-bottom: 1em;
    width: 45em;
  }

  #athena-title {
    font-size: 7.5rem;
  }

  #athena-subtitle {
    font-size: 4.5rem;
  }

  #about {
    font-size: 5em;
  }
}

#app-closed:hover {
  cursor: default !important;
  border-color: #37363a !important;
}

/* FLOWERS */

#flowers {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  top: 0;
}

#flowers .icon {
  position: absolute;
  z-index: 1;
}

/* ABOUT */

.infoCards {
  background-color: rgba(254, 155, 192, 0.5);
  padding: 20px;
  margin: 10px;
  text-align: center;
}

#infoCards {
  justify-content: center;
  text-align: center;
}
.about-img {
  width: 90px;
}

#about {
  text-align: left;
  min-width: 95%;
}

.section-title {
  font-size: 40px;
}
.center {
  margin: auto;
  width: 90%;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: center;
}
/* ALL CONTENT */

/* FAQ */

.faq {
  list-style: none;
  padding: 0;
}

.faq li {
  margin-bottom: 10px;
}

.faq li.active .answer {
  max-height: 275px !important;
  padding-bottom: 25px;
  transition: max-height 0.5s ease, padding-bottom 0.5s ease;
}

.faq li.active .question {
  color: #36373a;
  transition: color 0.5s ease;
}

.faq .answer {
  color: #36373a;
  font-family: 'Questrial', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, padding-bottom 0.5s ease;
}

.faq .plus-minus-toggle {
  cursor: pointer;
  height: 10px;
  position: absolute;
  width: 10px;
  left: -40px;
  top: 50%;
  z-index: 2;
}

.faq .plus-minus-toggle:before,
.faq .plus-minus-toggle:after {
  background: #37363a;
  content: '';
  height: 3px;
  left: 0;
  position: absolute;
  top: 0;
  width: 15px;
  transition: transform 500ms ease;
}

.faq .plus-minus-toggle:after {
  transform-origin: center;
}

.faq .plus-minus-toggle.collapsed:after {
  transform: rotate(90deg);
}

.faq .plus-minus-toggle.collapsed:before {
  transform: rotate(180deg);
}

.faq .question {
  color: #36373a;
  font-family: 'Questrial', Arial, sans-serif;
  font-size: 20px;

  cursor: pointer;
  padding-top: 3px;
  transition: color 0.5s ease;
  margin-bottom: 1rem !important;
}
.faq-right {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .faq .question {
    font-size: 18px;
  }
}

.side {
  height: 300px;
  margin-top: 25%;
  margin-bottom: 5px;
  text-align: center;
  display: block;
}

.bottom {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 20%;
  text-align: center;
}

#faq {
  padding-top: 2em;
  text-align: left;
  margin: 20px;
}
#faq-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

#faq-text {
  text-align: center;
  display: none;
}

@media screen and (max-width: 1200px) {
  .faq-img {
    width: 300px;
  }
}

@media (max-width: 800px) {
  .faq-img {
    display: none;
  }

  #faq-container {
    width: 100%;
  }

  .faq-right {
    display: none;
  }

  #faq-text {
    display: block;
  }
}

/* IN THE NEWS */

.news-container {
  margin: auto;
  min-width: 100%;
  padding-top: 25px;
}
.nav-profile {
  display: flex;
}

/* IMAGE COLLAGE */

.collage-images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
}

.collage-images img {
  padding-left: 15px;
  padding-right: 15px;
}

/* SPONSORS */

#sponsors {
  justify-content: center;
  min-width: 100%;
  margin: auto;
  text-align: center;
}

#sponsors-nav {
  border-bottom: 0;
  text-align: center;
  list-style: none;
  margin: 0;
  min-width: 100%;
  font-size: 2.5em;
}

#old-sponsors {
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  background: rgba(177, 156, 217, 0.3);
}
#old-sponsor {
  margin-top: -5px;
  margin-left: 10px;
  margin-right: 10px;

  background: rgba(177, 156, 217, 0.3);
}

#sponsors-nav a {
  border: none;
  text-decoration: none;

  color: #b19cd9;
  background: rgba(198, 226, 255, 0.3);
}
#sponsors-nav li.active > a {
  border-bottom: 0;
}
#sponsors-nav a:hover,
#sponsors-nav a:focus {
  border-bottom: 0;
  color: #a8739a;
}
#sponsors-nav a.active {
  border-bottom: 0;
  color: #c6e2ff;
  background: rgba(177, 156, 217, 0.5);
}
#sponsors-nav a.nav-item {
  width: 50%;
}

.purple-rect {
  align-self: center;
  height: 5px;
  background: rgba(177, 156, 217, 0.5);
  width: 100%;
}
.sponsor-title {
  text-align: center;
  font-size: 30px;
  font-family: 'Questrial', Arial, sans-serif;
  margin: auto;
  width: 100%;
  padding-bottom: 20px;
}
.sponsor-title.old {
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.tier1 img {
  max-width: 350px !important;
  padding-top: 10px;
}

.tier2 img {
  max-width: 300px !important;
}
.tier3 img {
  min-width: 250px;
  max-width: 250px;
  padding-bottom: -10px;
}
.tier4 img {
  width: 200px;
}

.tier5 img {
  max-width: 150px !important;
}
/* their logo has a weird thing that makes it small looking so u gotta fake it being bigger */
#northrop {
  width: 250px;
}

.email {
  font-weight: 200;
}

#sponsor-thank-you {
  font-size: 18px;

  padding-top: 0.8em;
  text-align: center;
}

@media (min-width: 800px) {
  #sponsor-thank-you {
    padding-top: 2em;
  }
}
#in-the-news {
  padding-top: 20px;
}
/* DID YOU KNOW */

#didyouknow {
  margin-bottom: 0px !important;
  font-family: 'Questrial', Arial, sans-serif;
}

/* SOCIAL */

.social {
  height: 40px;
  line-height: 40px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  text-align: center;
  overflow: visible;
}

.social a {
  color: #36373a;
  text-decoration: none;
}

.social i {
  padding: 0 15px;
  transition: all 0.3s ease;
}

.social i:hover {
  color: #000;
}

/* DAY OF */
.links {
  padding-top: 3%;
  width: 50%;
  margin: 0 auto;
}

th {
  text-align: center;
  vertical-align: middle;
}

.countdown {
  text-align: center;
  width: 100%;
}

.main {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.time {
  float: left;
  font-size: 18px;
}

@media (max-width: 768px) {
  .mlh-trust-badge {
    display: none !important;
  }
  html {
    max-width: 100%;
  }
  #about {
    padding-left: 15px;
    padding-right: 15px;
  }
  #faq {
    padding-left: 15px;
    padding-right: 15px;
  }
  #sponsors {
    padding-left: 15px;
    padding-right: 15px;
  }

  .apply-badge {
    display: block;

    position: fixed;
    right: 10px;
    top: 90px;
    width: 10%;
    z-index: 10000;
    max-height: 50px;
  }
}

.apply-badge {
  display: block;
  max-width: 300px;
  min-width: 200px;
  position: fixed;
  right: 10px;
  bottom: 70px;
  width: 20%;
  z-index: 10000;
  max-height: 50px;
}
.timer {
  float: left;
  width: 25%;
}

.label {
  font-size: 30px;
}

@media (min-width: 600px) {
  .schedule {
    width: 75%;
    margin: 0 auto;
  }

  .time {
    float: left;
    font-size: 30px !important;
  }
}

.schedule-header {
  text-align: center;
  font-size: 60px;
  padding-bottom: 3%;
}

.dayof-nav {
  margin: 1%;
  vertical-align: text-bottom;
  font-size: 20px;
}

#day-tag {
  text-align: center;
  font-size: 30px;
}

/*Time to finalise the cloud shape*/
.clouds {
  bottom: 0;
  left: 0;
  padding-top: 100px;
  position: fixed;
  right: 0;
  top: 0;
}

.cloud {
  background: -moz-linear-gradient(top, #fff 5%, #f1f1f1 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(5%, #fff),
    color-stop(100%, #f1f1f1)
  );
  background: -webkit-linear-gradient(top, #fff 5%, #f1f1f1 100%);
  background: -o-linear-gradient(top, #fff 5%, #f1f1f1 100%);
  background: -ms-linear-gradient(top, #fff 5%, #f1f1f1 100%);
  background: linear-gradient(top, #fff 5%, #f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );

  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;

  height: 120px;
  position: relative;
  width: 350px;
}

.cloud:after,
.cloud:before {
  background: #fff;

  position: absolute;
  z-index: -1;
}

.cloud:after {
  content: '';
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;

  height: 100px;
  left: 50px;
  top: -50px;
  width: 100px;
}

.cloud:before {
  content: '';
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;

  width: 180px;
  height: 180px;
  right: 50px;
  top: -90px;
}
.x1 {
  top: 150px;
  left: 200px;
  -webkit-animation: moveclouds 38s linear infinite;
  -moz-animation: moveclouds 38s linear infinite;
  -o-animation: moveclouds 38s linear infinite;
  opacity: 0.4;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
  left: 400px;
  top: 300px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.5;
  /*opacity proportional to the size*/
  /*Speed will also be proportional to the size and opacity*/
  /*More the speed. Less the time in 's' = seconds*/
  -webkit-animation: moveclouds 20s linear infinite;
  -moz-animation: moveclouds 20s linear infinite;
  -o-animation: moveclouds 20s linear infinite;
}

.x3 {
  left: 250px;
  top: 0;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.3;
  /*opacity proportional to the size*/
  -webkit-animation: moveclouds 45s linear infinite;
  -moz-animation: moveclouds 45s linear infinite;
  -o-animation: moveclouds 45s linear infinite;
}

.x4 {
  left: 470px;
  top: -300px;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.8;
  /*opacity proportional to the size*/
  -webkit-animation: moveclouds 28s linear infinite;
  -moz-animation: moveclouds 28s linear infinite;
  -o-animation: moveclouds 28s linear infinite;
}

.x5 {
  left: -150px;
  top: 0;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.5;
  /*opacity proportional to the size*/
  -webkit-animation: moveclouds 60s linear infinite;
  -moz-animation: moveclouds 60s linear infinite;
  -o-animation: moveclouds 60s linear infinite;
}

@-webkit-keyframes moveclouds {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: -100%;
  }
}
@-moz-keyframes moveclouds {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: -100%;
  }
}
@-o-keyframes moveclouds {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: -100%;
  }
}

.intro {
  padding-top: 1em;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(#c6e2ff, rgba(198, 226, 255, 0));
  min-height: 300px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.intro h1 {
  padding-top: 20%;
  font-family: Ardina, sans-serif;
  font-size: 60px;
}
.intro h2 {
  font-size: 30px;
}
.intro .main-header {
  text-align: center;
  z-index: 100;
}
.intro #logo {
  position: relative;
  display: block;
  padding-top: 1em;
  height: 350px;
  width: auto;
  text-align: center;
  justify-content: center;
}
.intro .circle {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 50%;
  border: 1px solid #fff;
  text-align: center;
  color: white;
  line-height: 100px;
  font-size: 20px;
  transition: all 0.3s ease;
  margin-bottom: 150px;
}
.intro.circle:hover {
  background-color: #eee;
  background-color: #fff;
  color: #ffb6c2;
}
