/* LANDING PAGE */

#logo-container {
  width: 30%;
  margin: auto;
  padding-top: 20%;
}

#title {
  text-align: center;
}

#learnmore {
  margin-top: 10%;
}

.landingPage {
  text-align: center;
  height:100vh;
}

.navbar {
  text-align: center;
}
.main-nav a{
  text-decoration: none;
  color: #36373a;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}


/* GENERAL */

body {
  background-color:rgb(239, 248, 255);
}

.content {
  margin: 50px 0px 50px 0px;
}

p {
  font-size: 17px;
  font-family: "Questrial";
  line-height: 25px;
}

.divider {
  height: 2px;
  background-color: white;
}


/* ABOUT */

.infoCards {
  padding: 25px;
  text-align: center;
  border: solid 2px #fff;
}

.about-img {
  width: 90px;
}


/* FAQ */

.faq {
  list-style: none;
  padding-left: 75px;
}
.faq li {
  margin-bottom: 10px;
  border-bottom: 1px solid #fbfbfb;
}
.faq li.active .answer {
  max-height: 275px !important;
  padding-bottom: 25px;
  transition: max-height 0.5s ease, padding-bottom 0.5s ease;
}
.faq li.active .question {
  color: #36373a;
  transition: color 0.5s ease;
}
.faq .answer {
  color: #36373a;
  font-family: serif;
  font-size: 16px;
  line-height: 24px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, padding-bottom 0.5s ease;
}
.faq .plus-minus-toggle {
  cursor: pointer;
  height: 10px;
  position: absolute;
  width: 10px;
  left: -40px;
  top: 50%;
  z-index: 2;
}
.faq .plus-minus-toggle:before, .faq .plus-minus-toggle:after {
  background: #000;
  content: '';
  height: 3px;
  left: 0;
  position: absolute;
  top: 0;
  width: 15px;
  transition: transform 500ms ease;
}
.faq .plus-minus-toggle:after {
  transform-origin: center;
}
.faq .plus-minus-toggle.collapsed:after {
  transform: rotate(90deg);
}
.faq .plus-minus-toggle.collapsed:before {
  transform: rotate(180deg);
}
.faq .question {
  color: #36373a;
  font-family: "Questrial";
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  padding-top: 3px;
  transition: color 0.5s ease;
  margin-bottom:1rem !important;
}


@media screen and (max-width: 767px) {
  .faq .question {
    font-size: 18px;
  }
}

.side {
  margin-top: 25%;
  margin-bottom: 5px;
}

.bottom {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 20%;
  text-align: center;
}


@media screen and (max-width: 1200px) {
    .faq-img {
        width:300px;
    }
}

/* IN THE NEWS */
.news-container {
  padding-top:25px;
}

/* IMAGE COLLAGE */

.collage-images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.collage-images img {
  max-width: 200px;
  padding: 20px;
  max-height: 100px;
}

/* SPONSORS */
.alpha img {
  max-width: 300px !important;
  max-height: 300px !important;
}

/* DID YOU KNOW */

#didyouknow {
  margin-bottom: 0px !important;
}

/* SOCIAL */

.social {
  height: 40px;
  line-height: 40px;
  padding-bottom: 5px;
  padding-top: 10px;
  text-align: center;
}

.social a {
  color: #36373a;
  text-decoration: none;
}

.social span {
  padding: 0 15px;
}

.social span:hover {
  color: white;
  transition: all .3s ease;
}

.social i {
  padding: 0 15px;
  transition: all .3s ease;
 }

.social i:hover {
  color: white;
}
